<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILexerService" />
                <binding name="BasicHttpBinding_ISyntaxColoringService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LexerServices/Service1/GetData"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILexerService"
                contract="LexerService.ILexerService" name="BasicHttpBinding_ILexerService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LexerServices/SyntaxColoringService/GetData"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISyntaxColoringService"
                contract="SyntaxColoringService.ISyntaxColoringService" name="BasicHttpBinding_ISyntaxColoringService" />
        </client>
    </system.serviceModel>
</configuration>